<div class="center jumbotron">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of Jane's demo app! 
  </h2>
  <%= link_to "Sign up here", "users/new", class: "btn btn-lg btn-primary" %>
  
  <h3><img src="http://images2.alphacoders.com/794/79420.jpg" class="img-responsive" alt="Responsive image"></h3>
  
</div>

